<div  id="mainMargin" class="container">

  <div class="row p-4">

    <a mat-stroked-button href="http://localhost:4200/configuracionLuces" color="primary"
       class="margenBoton2 btn-block" id="siguienteBtn">
        Siguiente
    </a>

  </div>

  <p class="margenLabel">Bienvenido Administrador</p>

  <div class="col-sm">
    <button mat-raised-button color="primary">Producto 1</button>
  </div>

  <div class="col-sm">
    <button mat-raised-button color="primary">Producto 2</button>
  </div>

</div>
