<div  id="mainMargin" class="container">

    <a mat-stroked-button href="http://localhost:4200/vistaProducto"
       color="primary" class="margenBoton2 btn-block">Siguiente</a>
  
    <p class="margenLabel">Bienvenido Administrador</p>
  
    <div id="temperaturaYHumedadBtn" class="col-sm">
        <button mat-raised-button color="primary" disabled>Producto 1</button>
      </div>
      <div id="sensorDeAperturaYCierreBtn" class="col-sm">
        <button mat-raised-button color="primary" disabled>Producto 2</button>
      </div>
      <div class="col-sm">
            </div>  
  
  </div >
  