<div  id="mainMargin" class="container">

    <a mat-stroked-button href="http://localhost:4200/vistaProducto"
       color="primary" class="margenBoton2 btn-block">Siguiente</a>
  
       <br>
    <p class="margenLabel">Configuración de Temperatura y humedad</p>
  <br>
    <div>
        <h6>Temperatura</h6>
        <div class="progress" style="height: 20px;">
            <div class="progress-bar" role="progressbar" style="width: 25%;" 
            aria-valuenow="25" aria-valuemin="0" aria-valuemax="80">25°</div>
          </div>
    </div>
  <br>
    <div>
        <h6>Humedad</h6>
        <div class="progress" style="height: 20px;">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
             aria-valuenow="75" aria-valuemin="0" aria-valuemax="80" style="width:75%">70%</div>
          </div>

         
    </div>  
  </div>

  