#mainMargin{
    top: 50%;
    left: 50%;
    position: absolute;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }
  
  .container{
    border:  1px solid lightgray;
    border-radius: 10px;
    /*margin: 100px;*/
  }
  
  .margenBoton2{
    margin-top: 20px;
    margin-left: 1200px;
  }
  
  .margenLabel{
    margin-top: 50px;
    margin-left: 250px;
    font-size: 30px;
    font-weight: bold;
  }
  
  .marginDiv{
    margin-left: 800px;
    margin-top: 20px;
  }
  
  .tamaño{
    width: 60px;
    height: 60px;
  }
  