<div id="mainMargin" class="container">

  <a mat-stroked-button href="http://localhost:4200/usuarioHome"
     color="primary" class="margenBoton2 btn-block">Siguiente</a>

  <p class="margenLabel">Configuración del Sensor de movimiento</p>
  <div>
    <div class="row">
      <span class="margenGif"><img src="assets/img/configuracionApertura/alarm.gif" width="400" height="400"
                                   alt="WARNING!" id="warningImg"></span>
    </div>
  </div>
  <div>
    <p class="margenLabel2">Movimiento detectado!</p>
  </div>


</div>

