#mainMargin{
  top: 50%;
  left: 50%;
  position: absolute;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.container{
  border:  1px solid lightgray;
  border-radius: 10px;
  /*margin: 100px;*/
}

.margenBoton2{
  margin-top: 20px;
  margin-left: 1100px;
}

.margenLabel{
  margin-top: 50px;
  margin-left: 360px;
  font-size: 30px;
  font-weight: bold;
}

.margenGif{
  margin-left: 430px;
}

.margenLabel2{
  margin-left: 510px;
  font-size: 25px;
  font-weight: bold;
}
