.container{
  border:  1px solid lightgray;
  border-radius: 10px;
  /*margin: 100px;*/
}

.margenDiv{
  /*margin: 50px;*/
}

.margenDiv2{
  /*margin: 50px;*/
}

.margenLabel{
  margin-top: 50px;
  margin-left: 525px;
  font-size: 30px;
}

.margenInput{
  margin-left: 280px;
}

.margenInput3{
  margin-left: 440px;
}

.margenInput2{
  margin-left: 50px;
}

.margenBoton{
  margin-top: 20px;
  margin-left: 800px;
}

.margenBoton2{
  margin-top: 20px;
  margin-left: 1100px;
}

.marginCheckBox{
  margin-left: 50px;
}

.anchoInput{
  width: 300px;
}

#mainMargin{
  top: 60%;
  left: 50%;
  position: absolute;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
