<div class="container">
  <p class="margenLabel">Registro de usuario</p>

  <div class="margenDiv2">

      <div class="row p-4">

        <form class="example-form">
          <mat-form-field class="example-full-width margenInput anchoInput" appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Nombre">
          </mat-form-field>

          <mat-form-field class="example-full-width margenInput2 anchoInput" appearance="fill">
            <mat-label>Apellido</mat-label>
            <input matInput placeholder="Apellido">
          </mat-form-field>
        </form>

      </div>

      <div class="row p-4">

        <form class="example-form">
          <mat-form-field class="example-full-width margenInput anchoInput" appearance="fill">
            <mat-label>Usuario</mat-label>
            <input matInput placeholder="Usuario">
          </mat-form-field>

          <mat-form-field class="example-full-width margenInput2 anchoInput" appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input type="password" matInput placeholder="Contraseña">
          </mat-form-field>
        </form>

      </div>

      <p class="margenInput"> Permisos para el usuario: </p>

      <div class="row p-4">
        <div class="col-sm">
          <section class="example-section margenInput">
            <p><mat-checkbox >Lectura de Luces</mat-checkbox></p>
            <p><mat-checkbox >Interrupcion de Luces</mat-checkbox></p>
            <p><mat-checkbox >Sensor de Temperatura</mat-checkbox></p>
          </section>
        </div>

        <div class="col-sm">
          <section class="example-section marginCheckBox">
            <p><mat-checkbox >Sensor de Humedad</mat-checkbox></p>
            <p><mat-checkbox >Sensor de Apertura</mat-checkbox></p>
            <p><mat-checkbox >Sensor de Gas</mat-checkbox></p>
          </section>
        </div>

      </div>

  </div>

</div>
