<!DOCTYPE html>
<html lang="en">

<div class="container">

  <div class="row">

  </div>
</div>
<div id="mainMargin">
  <div class="container p-5">

    <div class="row p-4" id="siguienteRow">
      <span> <a mat-stroked-button href="http://localhost:4200/configuracionLuces" color="primary"
          class="margenBoton2 btn-block" id="siguienteBtn">Siguiente</a></span>
    </div>

    <div class="row p-4">
      <div class="col-sm">
        <p class="margenLabel">&iexcl;Bienvenido usuario&excl;</p>
        <h1></h1>
      </div>
    </div>

    <div class="row p-4">
      <div id="lucesBtn" class="col-sm">
        <a mat-raised-button href="http://localhost:4200/configuracionLuces" color="primary"
          class="margenBoton btn-block tamañoBoton">Luces
        </a>
      </div>
      <div id="temperaturaYHumedadBtn" class="col-sm">
        <button mat-raised-button color="primary" disabled>Temperatura y humedad</button>
      </div>
      <div id="sensorDeAperturaYCierreBtn" class="col-sm">
        <button mat-raised-button color="primary" disabled>Sensor de apertura y cierre</button>
      </div>
    </div>

    <div class="row p-4">
      <div id="lucesBtn" class="col-sm">
        <button mat-raised-button color="primary" disabled>Sensor de movimiento</button>
      </div>
      <div id="lucesBtn" class="col-sm">
        <button mat-raised-button color="primary">Sensor de gases</button>
      </div>
    </div>

  </div>
</div>