<div class="login-wrapper" id="mainMargin" fxLayout="row" fxLayoutAlign="center center" routerLinkActive="active">
  <mat-card class="box" >
    <mat-card-header>
      <mat-card-title class="tituloBold">Inicio de sesion</mat-card-title>
      <br><br>
    </mat-card-header>
    <form class="example-form" >
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Usuario">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input type="password" matInput placeholder="Contraseña">
        </mat-form-field>
      </mat-card-content>
      <br>
      <a mat-raised-button href="http://localhost:4200/registroUsuario"  ondblclick="myFunction()" color="primary" class="margenBoton" class="btn-block">Iniciar sesion</a>
    </form>
  </mat-card>
  <script>
    function myFunction() {
      href="http://localhost:4200/configuracionAdministrator"
    }
    </script>
</div>


