<!DOCTYPE html>
<html lang="en">

<div class="container">
    <div class="row">

    </div>
</div>
<div id="mainMargin">
    <div class="container p-5">

        <div class="row p-4">
            <div class="col-sm">
                <h1>&iexcl;Bienvenido usuario&excl;</h1>
            </div>
        </div>

        <div class="row p-4">
            <div id="lucesBtn" class="col-sm">
                <button type="button" class="btn btn-primary">Luces</button>
            </div>
            <div id="temperaturaYHumedadBtn" class="col-sm">
                <button type="button" class="btn btn-primary" disabled>Temperatura y humedad</button>
            </div>
            <div id="sensorDeAperturaYCierreBtn" class="col-sm">
                <button type="button" class="btn btn-primary" disabled>Sensor de apertura y cierre</button>
            </div>
        </div>

        <div class="row p-4">
            <div id="lucesBtn" class="col-sm">
                <button type="button" class="btn btn-primary" disabled>Sensor de movimiento</button>
            </div>
            <div id="lucesBtn" class="col-sm">
                <button type="button" class="btn btn-primary">Sensor de gases</button>
            </div>
        </div>

    </div>
</div>