.col-sm {
    text-align: center;
}

#mainMargin{
    top: 50%;
    left: 50%;
    position: absolute;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.container{
    border: 1px solid lightgray;
    border-radius: 10px;
}

.row {
    border: 1px solid lightgray;
}

.btn {
    width: 200px;
    margin: 5px;
}

.margenBoton2{
  margin-bottom: 10px;
  margin-left: 1000px;
}
