#mainMargin{
  top: 60%;
  left: 50%;
  position: absolute;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.container{
  border:  1px solid lightgray;
  border-radius: 10px;
  /*margin: 100px;*/
}

.margenBoton2{
  margin-top: 20px;
  margin-left: 1100px;
}

.margenLabel{
  margin-top: 50px;
  margin-left: 550px;
  font-size: 30px;
  font-weight: bold;
}

.demo-table {
  width: 90%;
}

.margenTabla{
  margin-left: 100px;
  border: 1px solid lightgray;
}

.margenBotones1{
  margin-left: 1100px;
  width: 150px;
}

.margenBotones2{
  margin-left: 1100px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 150px;
}


