<div id="mainMargin" class="container">

  <p class="margenLabel">Producto n°1</p>

  <div class="col-sm">
    <a mat-raised-button href="http://localhost:4200/editarProducto"
       color="primary" class="margenBotones2 btn-block">Editar producto</a>
  </div>
  <div class="col-sm">
    <a mat-raised-button href="http://localhost:4200/registroUsuario"
       color="primary" class="margenBotones2 btn-block">Registrar Usuario</a>
  </div>

  <table class="table table-hover demo-table margenTabla">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Usuarios</th>
      <th scope="col">Habilitar</th>
      <th scope="col">Deshabilitar</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Usuario1</td>
      <td>
        <button mat-raised-button color="primary">Habilitar</button>
      </td>
      <td>
        <button mat-raised-button color="basic">Deshabilitar</button>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Usuario2</td>
      <td>
        <button mat-raised-button color="primary">Habilitar</button>
      </td>
      <td>
        <button mat-raised-button color="basic">Deshabilitar</button>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Usuario3</td>
      <td>
        <button mat-raised-button color="primary">Habilitar</button>
      </td>
      <td>
        <button mat-raised-button color="basic">Deshabilitar</button>
      </td>
    </tr>
    </tbody>
  </table>



</div>
